
<body >
  <h2 class="title">Pizza by Temperature</h2>

  <div>
    <h3 class="title">Cold Pizza</h3>
    <% Pizza.top_ten("Cold").each do |pizza| %>
      <%= pizza.name %>
      <br>
    <% end%>
  </div>
  <div>
    <h3 class="title">Reheated Pizza</h3>
        <% Pizza.top_ten("Reheated").each do |pizza| %>
      <%= pizza.name %>
      <br>
    <% end%>
  </div>
  <div>
    <h3 class="title">Hot Pizza</h3>
        <% Pizza.top_ten("Hot").each do |pizza| %>
      <%= pizza.name %>
      <br>
    <% end%>
  </div>
</body>