<%#index.html.erb%>
<main>
<h2>List of Users</h2>
<table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Votes</th>
        <th>Joined</th>
      </tr>
    </thead>
  <% @users.each do |user|  %>
    <tbody>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= user.votes.count %></td>
        <td><%= user.created_at.strftime("%m/%d/%Y") %></td> 
      </tr>
    </tbody>
  <% end %>
</table>
<%= button_to "Return to Pizza List", pizzas_path, :method => :get, class: 'btn btn-primary' %>
</main>

      <%
=begin%>
 RESOURCE: https://apidock.com/ruby/DateTime/strftime 
<%
=end%>
