// Place all the styles related to the Pizzas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-row {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h2 {
  color: #26A69A;
  font-weight: bold;
  font-size: 2rem;
}

main {
  padding: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

table {
  display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.works-votes__container {
  margin-top: 2rem;
}
.works-votes__header {
  color: black;
}
